.main {
  height: 500px;
  /* width: 100%; */
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.divmain {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 25px;
  width: 80%;
  max-width: 8000px;
  background: white;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.2); /* 3D effect */
  border-radius: 10px;
}
.divmain h1 {
  font-size: 75px;
}
.button-container {
  display: flex;
  gap: 16px;
}

.button {
  padding: 12px 24px;
  border-radius: 8px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  color: white;
}

.button-black {
  background-color: black;
}

.button-black:hover {
  background-color: #333;
}

.button-pink {
  background-color: #ff005d;
}

.button-pink:hover {
  background-color: #ec085b;
}

/* Responsive Design */
@media (max-width: 768px) {
  .divmain {
    width: 80%;
    padding: 20px;
  }

  .divmain h1 {
    font-size: 40px;
  }

  .divmain p {
    font-size: 16px;
  }

  .button-container {
    flex-direction: column; /* Stack buttons vertically */
    align-items: center; /* Center-align the buttons */
    width: 100%;
  }

  .button {
    width: 80%; /* Make buttons fill more width on small screens */
    padding: 10px 20px;
    font-size: 16px;
  }
}
