.noteone{
	display: flex;
	padding:50px 50px 40px 40px ;
	justify-content: center;
	margin-left: 30px;
	margin-right: 30px;
}
.noteone-left{
	width: 50%;
	justify-content: center;
	
}
.noteone-right{
	width: 50%;

}
.noteone-left p {
    display: flex;
    justify-content: center;
    text-align: left; /* Ensures text is centered */
}
.noteone-right p {
    display: flex;
    justify-content: center;
    text-align: left; /* Ensures text is centered */
}
